*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-content: center;
    min-height: 100vh;
}

#cuadricula {
    display: grid;
    width: 400px;
    height: 400px;
    border: 2px solid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
}

.red {
    background-color: red;
   grid-column: 2/4;
   grid-row: 1/4;

}